<h1>Rankings: Past 2 Days</h1>
<%= render partial: "leaderboard", locals: { result: @day } %>

<h1>Rankings: Last Week</h1>
<%= render partial: "leaderboard", locals: { result: @week } %>

<h1>Rankings: All Time</h1>
<%= render partial: "leaderboard", locals: { result: @all_time } %>
