<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h1>All Time</h1>
      <%= render partial: "leaderboard", locals: { result: @all_time } %>
    </div>
    <div class="col-sm-4">
      <h1>Last Week</h1>
      <%= render partial: "leaderboard", locals: { result: @week } %>
    </div>
    <div class="col-sm-4">
      <h1>Past 2 Days</h1>
      <%= render partial: "leaderboard", locals: { result: @day } %>
    </div>
  </div>
</div>
